.hover-bg-soft-yellow {
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.hover-bg-soft-yellow:hover {
  background-color: rgba(0, 0, 0, 0.517);
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

.bg-soft-yellow {
  background-color: rgba(0, 0, 0, 0.517);
  border-radius: 80px;
}

.bg-sidebar{
    background-color: rgba(255, 255, 255, 0.089);
}
